


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color:  white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s ease-in-out;
}

.navbar-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.navbar-logo {
  /* color: #fff;
  text-decoration: none; */
  font-weight: bold;
  /* font-size: 3.5rem; */
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.nav-menu-items {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.nav-item {
  height: 80px;
  border-bottom: 2px solid transparent;
}

.nav-links {
  color: #111;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  
}

.nav-links:hover {
  border-bottom: 2px solid #4b59f7;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    /* transform: ${({ click }) => (click ? 'translateX(0)' : 'translateX(-100%)');};
    transition: transform 0.3s ease-in-out; */
  }
}



/* Home css */

.home{
  text-align: center;
}
.description{
  text-align: center;
  align-items: center;
}
.homepage{
  right: 100%;
}